<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' type="text/css" href="./css/styles.css"/>

</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This app was created with Node.js, Express and javascipt Handlebars and uses data from Mapbox.com and Darksky.net</p>
    <img class="portrait" alt="me" src="./img/me.jpg" height="100"/>
</div>

{{>footer}}



</body>
</html>